.footer {
    background-color: rgb(101, 96, 102);
    padding: 20px 0;
    color: white;
}

.footer__container {
    max-width: 1240px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px
}
