.main__title {
    width: 100%;
    background-color: rgb(204, 200, 200);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.product__container {
    max-width: 1240px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.product__item {
    padding: 20px;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 3px rgb(201, 199, 199);
}

.product__image {
    width: 100%;
    height: 280px;
    /* margin-bottom: 20px; */
}

.product__title {
    /* margin-bottom: 15px; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product__price {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}